# Number of simultaneous farm bot windows (default: 1)
BOT_COUNT=5

# Mode (send / farm)
# If SEND=false, the bot only opens packs and claims achievements. It won't launch the Main or Intermediate accounts, and won't send friend requests or trades.
SEND=true

# Maximum number of accounts to store in the accounts.json database before cycling and reusing old ones
ACCOUNT_LIMIT=2000

# Main Account Information (REQUIRED if SEND=true)
MAIN_ACCOUNT_NAME="your_wiki_username"
MAIN_ACCOUNT_EMAIL="your_email@gmail.com"
MAIN_ACCOUNT_PASSWORD="your_password"

# Local communication server port (default: 3000)
PORT=3000

# Enable debug logging in the console (true/false)
DEBUG=false
